@import "normalize.css";
@import "style.css";
.nav {
/*height 105px*/
  padding: 40px 0;
  background: rgb(128 208 255);
  font-family: 'Montserrat';
}
.nav .container {
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.nav-logo {
  font-size: 20px;
}
.nav-logo-titulo {
  margin: 0;
  color: #fff;
}
.nav-menu-contenedor {
  padding: 0;
  margin: 0;
}
.nav-menu-contenedor-listas {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}
.nav-menu-contenedor-listas-enlaces {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}
.nav-menu-contenedor-listas-enlaces:hover {
  color: #18bc9c;
}
.nav-menuicono {
  color: #fff;
  display: none;
  z-index: 1;
}
.nav-menuicono span {
  font-size: 20px;
}
.header {
  background: rgb(190 253 255);
  padding: 90px 0;
}
.header-contenedor {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: rgb(44, 58, 91);
}
.header-contenedor-figure {
  margin: 0;
}
.header-contenedor-titulo {
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-size: 4.75rem;
}
.header-contenedor-rayita {
  max-width: 21%;
  border: 2px solid rgb(44, 58, 91);
}
.header-contenedor-rayita:after {
  content: "\2605";
  font-size: 3rem;
  position: relative;
  top: -28px;
  background: rgb(190 253 255);
  padding: 5px;
}
.header-contenedor-descripcion {
  font-family: 'Lato';
  font-size: 1.75rem;
}
.portafolio {
  padding: 70px 0;
  font-family: 'Montserrat';
}
.portafolio-contenedor {
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
}
.portafolio-contenedor-fila1 {
  text-align: center;
  color: rgb(128 208 255);
  margin-bottom: 50px;
}
.portafolio-contenedor-fila1-titulo {
  font-size: 3rem;
  text-transform: uppercase;
}
.portafolio-contenedor-fila1-separador {
  width: 21%;
  border: 2px solid;
}
.portafolio-contenedor-fila1-separador:after {
  content: "\2605";
  font-size: 3rem;
  position: relative;
  top: -28px;
  background: #fff;
  padding: 5px;
}
.portafolio-contenedor-fila2 {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.portafolio-contenedor-fila2-cajaImagenes {
  min-width: 250px;
  width: 30%;
  position: relative;
  margin: 20px 0;
  overflow: hidden;
}
.portafolio-contenedor-fila2-cajaImagenes-figure {
  margin: 0;
}
.portafolio-contenedor-fila2-cajaImagenes-figure img {
  display: block;
  width: 100%;
}
.portafolio-contenedor-fila2-cajaImagenes-icono {
  position: absolute;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  top: 120%;
  bottom: 0;
  right: 0;
  left: 0;
  color: transparent;
  font-size: 3rem;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
/*background rgba(24,188,156,.8)*/
}
.portafolio-contenedor-fila2-cajaImagenes:hover .icon-search-plus {
  top: 0;
  color: #fff;
  background: rgba(24,188,156,0.8);
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
}
.about {
  background: rgb(190 253 255);
  padding-top: 40px;
  padding-bottom: 80px;
}
.about-contenedor {
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Montserrat';
}
.about-contenedor-fila1 {
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
  color: rgb(44, 58, 91);
}
.about-contenedor-fila1-titulo {
  font-size: 3rem;
  text-transform: uppercase;
}
.about-contenedor-fila1-separador {
  width: 21%;
  border: 2px solid rgb(44, 58, 91);
}
.about-contenedor-fila1-separador:after {
  content: "\2605";
  font-size: 3rem;
  position: relative;
  top: -28px;
  background: rgb(190 253 255);
  padding: 5px;
}
.about-contenedor-fila2 {
  display: -webkit-box; 
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: start;
  -moz-box-align: start;
  -o-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.about-contenedor-fila2-párrafo {
  min-width: 250px;
  width: 35%;
  margin: 20px 20px;
  color: rgb(44, 58, 91);
  font-family: 'Lato';
  font-size: 20px;
  line-height: 1.5;
  word-spacing: 5px;
}
.about-contenedor-fila21-párrafo {
  min-width: 250px;
  width: 35%;
  margin: 20px 20px;
  color: rgb(44, 58, 91);
  font-family: 'Lato';
  font-size: 20px;
  line-height: 1.5;
  word-spacing: 5px;
}
.about-contenedor-fila3 {
  text-align: center;
  margin-top: 20px;
}
.about-contenedor-fila3 a {
  display: inline-block;
  color: #fff;
  font-family: 'Lato';
  font-size: 1.25rem;
  text-decoration: none;
  border: 2px solid #fff;
  padding: 1rem 1.75rem;
  border-radius: 4px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.about-contenedor-fila3 a .icon-download:before {
  margin-right: 15px;
}
.about-contenedor-fila3 a:hover {
  background: #fff;
  color: #000;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.contacto {
  padding-bottom: 80px;
}
.contacto-contenedor {
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
}
.contacto-contenedor-fila1 {
  text-align: center;
  color:rgb(128 208 255);
  font-family: 'Montserrat';
}
.contacto-contenedor-fila1-titulo {
  font-size: 3rem;
  text-transform: uppercase;
}
.contacto-contenedor-fila1-separador {
  width: 21%;
  border: 2px solid rgb(128 208 255);
}
.contacto-contenedor-fila1-separador:after {
  content: "\2605";
  font-size: 3rem;
  position: relative;
  top: -28px;
  background: #fff;
  padding: 5px;
}
.contacto-contenedor-fila2-formulario {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Lato';
  margin-top: 40px;
}
.contacto-contenedor-fila2-formulario-bloque {
  margin-bottom: 20px;
}
.contacto-contenedor-fila2-formulario-bloque input,
.contacto-contenedor-fila2-formulario-bloque textarea {
  font-size: 1.5rem;
  color: #495057;
  display: block;
  width: 100%;
  border: none;
  outline: 0;
  padding: 20px 0;
}
.contacto-contenedor-fila2-formulario-bloque hr {
  border: 1px solid #e9ecef;
}
.contacto-contenedor-fila2-formulario #submit {
  background: #18bc9c;
  border: none;
  padding: 20px 15px;
  color: #fff;
  font-size: 1.25rem;
  border-radius: 4px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.contacto-contenedor-fila2-formulario #submit:hover {
  background: #128f76;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
.footer {
  background: rgb(190 253 255);
  padding-top: 40px;
  padding-bottom: 80px;
}
.footer-contenedor {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Montserrat';
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.footer-contenedor-bloque {
  width: 30%;
  min-width: 250px;
  text-align: center;
  color: rgb(44, 58, 91);
}
.footer-contenedor-bloque h3 {
  font-size: 24px;
}
.footer-contenedor-bloque p {
  font-family: 'Lato';
  font-size: 20px;
}
.footer-contenedor-bloque p a {
  text-decoration: none;
  color: #18bc9c;
}
.footer-contenedor-bloque p a:hover {
  text-decoration: underline;
}
.footer-contenedor-bloque-listbox {
  padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.footer-contenedor-bloque-listbox li {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-box;
  display: inline-flex;
  list-style: none;
  margin: 0 5px;
}
.footer-contenedor-bloque-listbox li a {
  color: rgb(44, 58, 91);
  text-decoration: none;
  padding: 10px;
  border: 2px solid rgb(44, 58, 91);
  border-radius: 50%;
  font-size: 20px;
  font-family: 'Lato';
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
.footer-contenedor-bloque-listbox li a:hover {
  background: rgb(44, 58, 91);
  color: rgb(44, 58, 91);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
.footer-contenedor-bloque-listbox li .icon-facebook-f {
  padding: 10px 14px;
}
@media screen and (max-width: 768px) {
  .nav {
    position: relative;
  }
  .nav-menuicono {
    display: inline-block;
  }
  .nav-menu.active {
    left: 0;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
  }
  .nav-menu {
    position: absolute;
    top: 0;
    background: rgba(0,0,0,0.5);
    left: -100%;
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
  }
  .nav-menu-contenedor-listas {
    display: block;
    margin: 20px 0;
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
  }
  .nav-menu-contenedor-listas-enlaces {
    font-size: 30px;
    padding-bottom: 10px;
    font-size: 30px;
  }
  .header {
    margin-top: 0;
  }
}
@media screen and (max-width: 420px) {
  .header-contenedor-titulo {
    font-size: 3.8rem;
  }
  .portafolio-contenedor-fila1-titulo {
    font-size: 2.2rem;
  }
  .about-contenedor-fila1-titulo {
    font-size: 2.2rem;
  }
  .contacto-contenedor-fila1-titulo {
    font-size: 2.2rem;
  }
}
